
    <mat-grid-list cols="10">
      <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
            <mat-grid-tile colspan="8" rowspan="1">
                 <h3>Top Destinations</h3>
                <h4>Discover tours</h4>
              
            </mat-grid-tile>
            
            <mat-grid-tile colspan="1" rowspan="1" ></mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="3"></mat-grid-tile>
            <mat-grid-tile colspan="8"  rowspan="3" style="overflow: auto;">
                <mat-grid-list cols="8">
                    <mat-grid-tile colspan="4" rowspan="3">
                        <mat-card>Sigiriya</mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="4" rowspan="3">
                        <mat-card>Pidurangala</mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="8" rowspan="3">
                        <mat-card>Madolsima</mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
              
            </mat-grid-tile>
            
            <mat-grid-tile colspan="1" rowspan="3"></mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
            <mat-grid-tile colspan="8" rowspan="1">
              
            </mat-grid-tile>
            
            <mat-grid-tile colspan="1" rowspan="1" ></mat-grid-tile>

        </mat-grid-list>