mat-toolbar {
  justify-content: center;
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    color: white;
  }
  
  mat-toolbar > span   {
    background-color: transparent;
    height: auto;
    width: auto;
    margin: 20px;
    text-align: center;
  }

 button {
    background-color: transparent;
    border: none;
    color: white;
  }

  mat-card {
    background-color: transparent;
    border: 1px solid white;
    color: white;
  }



 