
 .btns {
    background-color: transparent;
    border: none;
    color: white;
  }

  nz-select {
    width: 100%;
    background-color: transparent;
    color: white;
  }

  div {
    color: white;
  }

 




 